@page
@model IndexModel
@{
    ViewData["Title"] = "Quran Reviser";
}

<div class="text-center">
    <div class="imageDiv">
        <img src="QuranPages\page411.jpg" alt="page411" />
    </div>    
</div>
