@page
@model Quran_Reviser.Pages.QuranPages.page411Model

@{
    ViewData["Title"] = "411";
}
@section Styles {
    <link href="~/css/Ayahs/page411.css" rel="stylesheet" />
}


<div class="main" id="page-data" data-max-ayahs="10" data-ayahs-index="0">
    <div class="left"></div>
    <div class="cont">
        <img src="~/QuranImages/411.jpg" alt="" class="li">
        <div class="overlay">
            <!--Line 01-->
            <div class="l01">
                <div class="p01-1 ayah001"></div>
                <div class="p02-2 ayah002"></div>
            </div>
            <!--Line 02-->
            <div class="l02">
                <div class="p01-2 ayah002"></div>
                <div class="p02-2 ayah003"></div>
            </div>
            <!--Line 03-->
            <div class="l03">
                <div class="p01-3 ayah003"></div>
                <div class="p02-3 ayah004"></div>
            </div>
            <!--Line 04-->
            <div class="l04">
                <div class="p01-4 ayah004"></div>
                <div class="p02-4 ayah005"></div>
            </div>
            <!--Line 05-->
            <div class="l05">
                <div class="p01-5 ayah005"></div>
            </div>
            <!--Line 06-->
            <div class="l06">
                <div class="p01-6 ayah005"></div>
                <div class="p02-6 ayah006"></div>
            </div>
            <!--Line 07-->
            <div class="l07">
                <div class="p01-7 ayah006"></div>
            </div>
            <!--Line 08-->
            <div class="l08 misshapen1">
                <div class="p01-8 ayah007"></div>
            </div>
            <!--Line 09-->
            <div class="l09">
                <div class="p01-9 ayah008"></div>
                <div class="p02-9 ayah009"></div>
            </div>
            <!--Line 10-->
            <div class="l10">
                <div class="p01-10 ayah009"></div>
            </div>
            <!--Line 11-->
            <div class="l11">
                <div class="p01-11 ayah009"></div>
            </div>
            <!--Line 12-->
            <div class="l12">
                <div class="p01-12 ayah009"></div>
                <div class="p02-12 ayah010"></div>
            </div>
            <!--Line 13-->
            <div class="l13">
                <div class="p01-13 ayah010"></div>
            </div>
        </div>
    </div>
    <div class="right"></div>
</div>

