@page
@model Quran_Reviser.Pages.QuranPages.page412Model

@{
    ViewData["Title"] = "412";
}
@section Styles {
    <link href="~/css/Ayahs/page412.css" rel="stylesheet" />
}

<div class="main" id="page-data" data-max-ayahs="18" data-min-ayahs="10">
    <div class="left"></div>
    <div class="cont">
        <img src="~/QuranImages/412.jpg" alt="" class="li">
        <div class="overlay">
            <!--Line 01-->
            <div class="l01">
                <div class="p01-1 ayah011"></div>                
            </div>
            <!--Line 02-->
            <div class="l02">
                <div class="p01-2 ayah011"></div>
                <div class="p02-2 ayah012"></div>
            </div>
            <!--Line 03-->
            <div class="l03">
                <div class="p01-3 ayah012"></div>                
            </div>
            <!--Line 04-->
            <div class="l04">
                <div class="p01-4 ayah012"></div>
                <div class="p02-4 ayah013"></div>
            </div>
            <!--Line 05-->
            <div class="l05">
                <div class="p01-5 ayah013"></div>
            </div>
            <!--Line 06-->
            <div class="l06">
                <div class="p01-6 ayah013"></div>
                <div class="p02-6 ayah014"></div>
            </div>
            <!--Line 07-->
            <div class="l07">
                <div class="p01-7 ayah014"></div>
            </div>
            <!--Line 08-->
            <div class="l08 misshapen1">
                <div class="p01-8 ayah014"></div>
            </div>
            <!--Line 09-->
            <div class="l09">
                <div class="p01-9 ayah014"></div>
                <div class="p02-9 ayah015"></div>
            </div>
            <!--Line 10-->
            <div class="l10">
                <div class="p01-10 ayah015"></div>
            </div>
            <!--Line 11-->
            <div class="l11">
                <div class="p01-11 ayah015"></div>
                <div class="p02-11 ayah016"></div>
            </div>
            <!--Line 12-->
            <div class="l12">
                <div class="p01-12 ayah016"></div>                
            </div>
            <!--Line 13-->
            <div class="l13">
                <div class="p01-13 ayah016"></div>
                <div class="p02-13 ayah017"></div>
            </div>
            <!--Line 14-->
            <div class="l14">
                <div class="p01-14 ayah017"></div>
                <div class="p02-14 ayah018"></div>
            </div>
            <!--Line 15-->
            <div class="l15">
                <div class="p01-15 ayah018"></div>
            </div>
        </div>
    </div>

    <div class="right"></div>
    <!--    
    <div class="right" <!-- style="display:flex;
                        flex-direction:column;
                        height:700px;
                        padding-top:9px;
                        padding-bottom:30px;
                        justify-content:space-evenly">
        <div>1</div> 
        <div>2</div> 
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
        <div>8</div>
        <div>9</div>
        <div>10</div>
        <div>11</div>
        <div>12</div>
        <div>13</div>
        <div>14</div>
        <div>15</div>
    </div>-->
</div>

